*{
    margin: 0;
    padding: 0;

    /* debugging */
    /* border: 1px solid red; */
}


/* header section styles */

.header-section{
    background-color: #F4F4F4;
    width: 100%;
    height: 80vh;
    display: flex;
}

/* left side img */
.img-header{
    padding-left: 380px;
    padding-top: 250px;
}



/* right side texts */
.right-header{
    text-align: right;
    padding-top: 300px;
    padding-right: 500px;
}

/* heading tiltle */
.header-title{
    font-weight: 700;
    font-size: 50px;
   
}

/* header decription */
.header-description{
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 400;
    color: black;

}

/* universal button */
.btn{
    height: 50px;
    width: 140px;
    background-color: #F15822;
    border: none;
    color: white;
    border-radius: 6px;
}

main{
    max-width: 1140px;
}






/* 1st section failure */
.failure{
    margin-top: 70px;
    display: flex;
    margin-bottom: 75px;
}


/* img left failure */
.left-failure{

    padding-left: 400px;
}



/* texts group */
.right-failure{
    padding-left: 100px;
    padding-top: 230px;
    padding-right: 200px;
}


/* right text heading */
.failure-heading{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-right: 200px;
}



/* right side description */
.filure-description{
    font-weight: 400;
    color: black;
    margin-bottom: 15px;

}

ul {
    list-style: none;
  }
  
  ul li:before {
    content: '✓ ';
    color: green;
  }



  /* ---------------section of my plan---------------*/


.my-plan{
    margin-bottom: 60px;
}



.plan-top-head{
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    margin-left: 800px;
    margin-bottom: 20px;
}


.sub-plan{
    display: flex;
    margin-left: 650px;
}

.plan{
    margin-right: 80px;
    text-align: center;
}

.plan-heading{
    margin-top: 15px;
    margin-bottom: 3px;
}



/* for video section */



.video-section{
    display: flex;
    margin-left: 450px;
    margin-bottom: 60px;
}

.video{
    height: 200px;
    width: 400px;

}

.space{
    margin-top: 30px;
}

.video-part{
    padding-left: 140px;
    margin-top: px ;
}


.video-title{
    font-weight: 700;
    font-size: 25px;
    padding-top: 40px;
    margin-bottom: 10px;
    margin-left: 20px;
}


.video-list{
    padding-top: 82px;
    font-size: 20px;
    padding-left: 30px;
}